* {
  padding: 0%;
  margin: 0%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Começo do Background RGB */
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
.srgb{
  --bckrgb:transparent;
}
.themedark{
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
  --nav:#1d1919;
  --menu-esq:#121212;
  --btn-lat-at:rgb(121, 121, 121);
  --btn-lat:#423c3c42;
  --btn-lat-hov:rgb(82, 82, 82);
  --back:linear-gradient(45deg, rgb(82, 82, 82), rgb(71, 71, 71), rgb(27, 27, 27));
  --back-cont:#161010b2;
  --backfi: linear-gradient(45deg, rgb(80 80 80), rgb(136 136 136 / 83%));
  --bshadow:-1px 0px 3px 1px #9b999930;
  --foot:rgb(22, 21, 21);
  --pesq:#7f7f7f;
  --pesqmin:#a5a5a5a1;
  --blackl: #202020;
	--grayl:rgb(59, 59, 59);
}
.themered{
  --nav:#770000;
  --menu-esq:#721E1E;
  --btn-lat-at:rgb(184, 0, 0);
  --btn-lat:#f8000042;
  --btn-lat-hov:rgb(95, 1, 1);
  --back:linear-gradient(45deg, rgba(198, 12, 12), rgba(83, 9, 9), rgba(135, 8, 8));
  --back-cont:#551e1eb2;
  --backfi:linear-gradient(45deg, rgb(170, 2, 2), rgba(172, 30, 30, 0.83));
  --foot: rgb(61, 0, 0);
  --pesq:#c23939;
  --pesqmin:#aa5151a1;
  --blackl: #360000;
	--grayl:rgb(78, 1, 1);

}
body.rgb {
  /* background: #191c29; */
  /* padding: 3px; */
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  display: flex;
  /* color: rgb(88 199 250 / 0%); */
  font-family: cursive;
}

body.rgb::before {
  content: "";
  width: 101.9%;
  height: 101%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #7f00d4 43%, #c20000);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

body.rgb::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  /* height: 100%; */
  width: 100%;
  margin: 0 auto;
  /* transform: scale(0.8); */
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

/* Final do Background RGB */

/* Começo da barra de rolagem */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.322);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(19, 19, 19, 0.356);
}

/* Final da barra de rolagem */

/* Div principal */
.pagina {
  width: 100%;
  height: auto;
  background: var(--back);

}
.pagina.temab {
  background: transparent;
}
body {
  background-color: var(--back);
  cursor: url("/img/cursorb.svg"), auto;
}

/* Começo do Header, Menu, Navbar, Logo */
#temargb {
  width: 10%;
  /* height: 40px; */
  display: flex;
  justify-content: flex-end;

}

#tema {
  margin: 5px;
  font-weight: bold;
  font-size: 0.7em;
}

#togglergb {
  position: relative;
  display: none;
}
#togglered {
  position: relative;
  display: none;
}
.toggle+label {
  width: 12px;
  height: 10px;
  background: lightgray;
  display: block;
  position: relative;
  border-radius: 20px;
  padding: 2px;
  margin: 4px 5px;
  transition: 200ms;
  cursor: pointer;
  box-sizing: unset;
}

.toggle+label :before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  display: block;
  border-radius: 50%;
  right: unset;
  left: 2px;
  top: 2px;
  transition: 200ms;
}

.toggle:checked+label {
  background: blue;
}

.toggle:checked+label :before {
  content: '';
  left: calc(100% - 22px);
  box-shadow: 0 4px 4px rgb(0, 0, 0 / 10%);
}

#header {
  color: #ffffff;
  height: 80px;
  background-color: var(--nav);
  margin: 0 auto;
  display: flex;
}

#DivLogo {
  height: auto;
  margin-left: 1%;
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 10px;
}

#DiscountLogo {
  width: 50px;
  height: 50px;
}

#DivLogoUm {
  width: 40%;
  height: 80px;
  display: flex;
}

#DivLogoDois {
  width: 70%;
  height: 80px;
}

#menunav {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

/* Começo do menuhamburguer */
/* Começo do Navbar normal */
ul {
  display: inline-flex;
  margin-bottom: 0;
  padding-left: 0;
  align-items: center;
}

#UlMenu {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  font-weight: bold;
  box-sizing: unset;
}

#menu {
  display: flex;
  justify-content: center;
  /* width: 0; */
  padding-top: 29px;
  visibility: hidden;
}

#BotoesMenu {
  width: 30%;
  display: block;
}

@media screen and (max-width:600px) {
  #BotoesMenu {
    width: 60%;
  }

}

li,
a {
  text-decoration: none !important;
  list-style: none;
  /* margin: 5px; */
  color: rgb(255, 255, 255);
  text-shadow: #fff 10% !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.aMargin {
  margin: 4%;
}

li:hover {
  transform: scale(1.1);
  transition: all .2s;
}

nav {
  display: flex;
  justify-content: space-around;
  /* height: 40px; */
}

#btnMenu {
  display: none;
}

/* Final do Navbar normal */

#conteudogeral {
  display: flex;
}

#conteudoesquerda {
  width: 15%;
  max-width: 290px;
  min-width: 180px;
  background-color: var(--menu-esq);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.conteudodireita {
  width: 85%;
}


/*final do menuhamburguer */
#menuesquerda {
  width: 100%;
}
#menuesquerda a {
  width: 142px;
}

.menulateral {
  width: 60%;
  height: 50px;
  min-width: 132px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: var(--btn-lat);
  box-shadow: var(--bshadow);
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
  padding-left: 10px;


}

.menulateral:hover {
  background-color:var(--btn-lat-hov);
  width: 63%;
}

.menulateral img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

#pesquisa {
  width: 96%;
  height: 45px;
  margin-top: 35px;
  background-color: var(--pesq);
  box-shadow: 2px 1px 2px #3b363657;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pesquisa img {
  width: 40px;
  height: 30px;
}

#search {
  width: 85%;
  height: 100%;
  background-color: var(--pesqmin);
  border: none;
  font-size: 1.5em;
  color: #dbdada;
}

#searching {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 47px;
  height: 47px;

}

#searching:hover {
  background-color: rgba(177, 177, 177, 0.719);
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
}

#categorias {
  width: 100%;
  margin-top: 10px;
}

#categoraistt {
  width: 100%;
  height: 55px;
  background-color: var(--btn-lat);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px #00000045;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;

}

.categorias {
  width: 65%;
  height: 45px;
  padding-left: 10px;
  font-size: 1em;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: white;
  font-weight: bold;
  transition-duration: 0.1s;
  /* transition-timing-function: linear; */
  transition-delay: 0.1s;
}

.categorias:hover {
  background-color: var(--btn-lat-hov);
  /* border-inline-end: 2px solid rgba(0, 0, 0, 0.267); */
  border-left: 5px solid rgba(172, 172, 172, 0.815);

}

#DivAbaixoHeader {
  width: 100%;
  height: 20px;
}

/* Final do Header, Menu, Navbar, Logo */

footer {
  color: #ffffff;
  background-color: var(--foot);
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  /* margin-top: 1%; */
  /* border-radius: 1rem; */
  padding: 10px 0 10px 0;
  display: block;
}

footer p {
  margin-left: 15px;
  margin-bottom: 3px;
  padding-bottom: 3px;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bordas do Slide  */
/* Começo Slide */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Botões do slide */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px 8px;
  background-color: #868686;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activedot {
  background-color: #ffffff;
}

/*Animação fade-in*/
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.mySlides img {
  box-shadow: 1px 1px 3px #3a151577;
}

/* Final Slide */

@media screen and (max-width:600px) {
  #temargb {
    margin-left: 30px;
  }

  #temargb>label {
    padding: 4px 8px;
    margin-right: 10px;
  }

  #menu {
    display: block;
    position: absolute;
    /* width: 40%; */
    top: 70px;
    right: 0;
    background: #770000;
    transition: .5s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    width: 30%;
    height: auto;
    display: block;
    visibility: visible;
    overflow-y: auto;

  }

  #menu li {
    padding: 1rem;
    /* margin: 0 1rem; */
    border-bottom: 2px double rgba(255, 255, 255, 0.267);
  }

  nav {
    justify-content: flex-end;

  }

  #nav a {
    color: #e4e4e4;
  }

  #btnMenu {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }

  #hamburguer {
    color: rgb(182, 182, 182);
    border-top: 2px solid;
    width: 20px;
  }

  #hamburguer::after,
  #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 3.s;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }

  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .conteudodireita {
    width: 100%;
  }

  .dot {
    width: 7px;
    height: 7px;
  }

  #conteudoesquerda {
    width: 0%;
    overflow: hidden;
    /* visibility: hidden; */
    min-width: 0px;
    display: block;
    position: absolute;
    left: 0;
    transition: .5s;
    z-index: 1000;
  }

  /* #categorias>h1,
  h2,
  h3 {
    visibility: hidden;
    left: 0;
    transition: .1s;
    z-index: 1000;
  } */

  .menulateral {
    width: auto;
    visibility: hidden;
    left: 0;
    display: block;
    transition-duration: 0s;
    transition-timing-function: linear;
    transition-delay: 0s;
    padding-left: 0px;
  }

  #menuhome {
    visibility: hidden;
    left: 0;
    transition: .1s;
    z-index: 1000;
  }

  #menuusuarios {
    visibility: hidden;
    left: 0;
    transition: .1s;
    z-index: 1000;
  }

  #menuinserir {
    visibility: hidden;
    left: 0;
    transition: .1s;
    z-index: 1000;
  }

  #menusalvos {
    visibility: hidden;
    left: 0;
    transition: .1s;
    z-index: 1000;
  }

  #menubiblioteca {
    visibility: hidden;
    left: 0;
    transition: .1s;
    z-index: 1000;
  }
}