:root {
    --back-cont: #161010b2;
    --nav: #1d1919;
    --backfi: linear-gradient(0deg, rgb(170, 170, 170), rgba(255, 255, 255, -0.17));
}

#DivBotoesPai {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.DivBotoes {
    background-color: rgba(105, 102, 102, 0.603);
    width: 90px;
    height: 30px;
    color: #ffff;
    border-radius: 4%;
    box-shadow: 1px 1px 7px black;
    padding: 0.6% 0.8% 0.2% 0.2%;
    margin: 0% 1% 0.6%;
}

.DivBotoes:hover {
    background-color: #3a1515b7;
    transform: scale(1.1);
    transition: all .2s;
    filter: brightness(1.25);
}

#DivConteudo {
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
    background-color: var(--back-cont);
    margin-top: 1%;
    margin-bottom: 1%;

    border-radius: 1rem 0 0 0;
    box-shadow: 2px 1px 5px #2e2c2c;


}

#ConteudoGame {
    width: 100%;
    height: 40px;
    background-color: var(--nav);
    border-radius: 1rem 0 0 0;
    margin-bottom: 3%;
    padding-bottom: 1%;

}

h1 {
    text-align: center;
    color: #ffff;
}

#PaiDosConteudos {
    /* width: 80%; */
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0);
    justify-content: space-around;
}

.FiConteudo {
    background-color: aliceblue;
    margin: 0 auto;
    width: 250px;
    height: 350px;
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    box-shadow: 3px 3px 9px black;
    aspect-ratio: 1 / 0.7;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}


.FiConteudo img {
    width: 250px;
    height: 350px;
    margin-bottom: -4px;
}

#imgfi {
    width: 100%;
    height: 100%;
    /* border-radius: inherit; */
}

#imgfi img {
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
    position: absolute;
}

.BackFi {
    /* background-image: url(../img/divgameslayout.jpg); */
    width: 250px;
    height: 350px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    opacity: 0;
    display: flex;
    align-items: flex-end;

}
.BackFi:hover{
    scale: 1;
    opacity: 1;
}

.BackFi h3,
h4,
h5,
.BackFi {
    /* opacity: 0; */
    transition: 0.4s 0.2s ease;
}

.FiConteudo::after {
    /* content: ""; */
    position: absolute;
    /* inset: 0; */
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.FiConteudo:hover img {
    filter: grayscale(1) brightness(0.4);
}

.FiConteudo:hover::after {
    opacity: 1;
    inset: 20px;
}

.FiConteudo:hover {
    background-color: #ffffff;
    transform: scale(1.05);
    transition: all .2s;
    filter: brightness(1.25);
}
.BackFiI {
    width: 250px;
    height: 150px;
    background: var(--backfi);
    position: absolute;

}
.Disconto {
    float: left;
    line-height: 34px;
    padding: 0 5px;
    font-size: 26px;
    font-weight: 500;
    color: #ffffff;
    background: #5e5e5e;
    /* margin-left: 17%; */
    border: 1px solid;
    border-right: none;
}

.DiscontoPreco {
    line-height: 13px;
    padding: 0 1px 0 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background: #ffffff;
    float: left;
    height: 34px;
    border: 1px solid;
    /* border-left: none; */
}

.PrecoOriginal {
    position: relative;
    width: fit-content;
    color: #ff0000;
    font-size: 11px;
    line-height: 12px;
}

.PrecoOriginal:before {
    content: '';
    left: 0px;
    right: 0px;
    position: absolute;
    top: 43%;
    border-bottom: 1.5px solid #957373;
    transform: skewY(-8deg);
    box-shadow: 0 0 2px black;
}

.PrecoDisconto {
    color: #000000;
    line-height: 16px;
    font-size: 15px;
    text-shadow: 2px 2px 10px black;
}

.SemPreco {
    width: 250px;
    height: 50px;
    line-height: 13px;
    display: flex;
    justify-content: center;
}

.SemPrecoOriginal {
    /* position: relative; */
    width: auto;
    height: 34px;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    line-height: 12px;
    background: #5e5e5e;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid;
}

p {
    text-align: center;
    color: #ffff;
}

.DivGamesLayouth3 {
    height: 50px;
    text-shadow: 1px 1px black;
}

#DivGamesLayoutSemDescontoDois {
    width: 90px;
    height: 35px;
    margin-top: 70px;
    background: #543434;
    color: rgb(219, 226, 230);
    font-size: 0.9rem;
    line-height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DivGamesLayouth2 {
    width: 100%;
    height: 25px;
    text-shadow: 1px 1px black;
}

.DivGamesLayoutPromo {
    width: 100%;
    height: 25px;
    text-shadow: 1px 1px black;
}

.DivGamesLayoutPrices {
    /* height: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:600px) {

    .FiConteudo {
        background-color: aliceblue;
        margin: 0 auto;
        width: 180px;
        height: 250px;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-bottom: 5rem;
        box-shadow: 3px 3px 9px black;
    }

    .FiConteudo img {
        width: 180px;
        height: 250px;
        margin-bottom: 0px;
    }
    #imgfi {
        display: flex;
        align-items: end;
    }

    .BackFi {
        /* background-image: url(../img/divgameslayout.jpg); */
        width: 180px;
        height: 100px;
        /* text-align: center; */
        color: #ffff;
    }
    .BackFiI {
        width: 180px;
        /* height: 100px; */
    }
    .DivGamesLayouth3 {
        height: 33px;
        font-size: 0.8em;
        margin-top: 3px;

    }

    .DivGamesLayouth3 h3,
    h4 {
        font-size: 1em;
    }

    .DivGamesLayouth2 {
        width: 100%;
        font-size: 0.7em;
        height: 15px;
    }

    .DivGamesLayoutPromo {
        width: 100%;
        height: 18px;
        font-size: 0.7em;
    }

    .Disconto {
        float: left;
        line-height: 22px;
        /* outline-width: 5px; */
        padding: 0;
        padding-right: 3px;
        padding-left: 3px;
        font-size: 26px;
        font-weight: 500;
        color: #ffffff;
        background: #5e5e5e;
        /* margin-left: 17%; */
        border: 1px solid;
        border-right: none;
        font-size: 1em;
    }

    .DiscontoPreco {
        line-height: 2px;
        padding: 0 1px 0 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        background: #ffffff;
        float: left;
        height: 22px;
        border: 1px solid;
        /* border-left: none; */
        font-size: 0.1em;
    }

    .PrecoOriginal {
        position: relative;
        /* width: fit-content; */
        color: #ff0000;
        font-size: 9px;
        line-height: 12px;
        padding-top: 1px;
    }

    .PrecoDisconto {
        color: #000000;
        line-height: 10px;
        font-size: 12px;
        text-shadow: 2px 2px 10px black;
        padding-bottom: 3px;
        margin-bottom: 2px;
    }
}