
header {
  width: 98%;
  height: 100px;
  margin: 0 auto;
  /* background-color: #004d77b2; */
}
header h1 {
  color: #ffff;
  font-size: 3rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 100px;
}
#DivConteudo {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#principal {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  height: auto;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.178);
  margin-bottom: 3%;
  background-color: #181a217a;
}
#secaoinserir {
  max-width: 1500px;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.formPai {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 1%;
  justify-content: space-between;
}
.formTitulo {
  width: 40%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.178);
  border-radius: 0.3rem;
  background-color: rgba(127, 255, 212, 0.212);
}
.formSubT {
  width: 30%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.178);
  border-radius: 0.3rem;
  background-color: rgba(127, 255, 212, 0.212);
}
.formProm {
  width: 20%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.178);
  border-radius: 0.3rem;
  background-color: rgba(127, 255, 212, 0.212);
}
.formData{
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.178);
  border-radius: 0.3rem;
  background-color: rgba(127, 255, 212, 0.212);
}
.formPreco{
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.178);
  border-radius: 0.3rem;
  background-color: rgba(127, 255, 212, 0.212);
}
.formPrecoAnt{
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.178);
  border-radius: 0.3rem;
  background-color: rgba(127, 255, 212, 0.212);
}
.formDescon{
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.178);
  border-radius: 0.3rem;
  background-color: rgba(127, 255, 212, 0.212);
}

input {
  text-align: center;
  font-size: 1rem !important;
}

input#file {
  color: white;	
}

label {
  font-size: 1.7rem !important;
}
@media screen and (max-width:730px) {
  #secaoinserir {
    width: 600px;
  }
}
@media screen and (max-width:635px) {
  #secaoinserir {
    width: 500px;
  }
}
#BotaoEnviar {
  margin-bottom: 2rem;
}
canvas
{
  width: 250px;
  height: 350px;
  box-shadow: 3px 3px 9px black;
}
/* #VerImage {
  display: flex;
  flex-direction: column;
} */
#file {
  margin-top: 0.2rem;
}
