<!DOCTYPE html>
<html class="themedark" lang="pt-br" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/geral.css">
    <link rel="stylesheet" href="/style/index.css">
    <title>DFarm</title>
    <link rel="website icon" type="png" href="/img/discount2.svg">
</head>

<body class="card">
    <!-- Começo da Div Pai da Pagina Inteira -->
    <div class="pagina">
        <!--Começo Div header-->
        <div id="header">
            <!--DivLogo começa aqui-->
            <div id="DivLogo">
                <div id="DivLogoUm">
                    <img src="/img/discount1.svg" alt="Logo" id="DiscountLogo">
                    <div id="DivLogoDois">
                        <h1><a href="/">DiscountsFarm</a></h1>
                    </div>
                </div>

            </div>
            <!--DivLogo termina aqui-->
            <!--menus começam aqui-->
            <div id="menunav">
                <nav id="nav">
                    <button id="btnMenu">
                        <span id="hamburguer"></span>
                    </button>
                    <div id="UlMenu">
                        <ul id="menu">
                            <li class="aMargin"><a href="/">Home</a></li>
                            <li class="aMargin"><a href="/bilioteca">Biblioteca</a></li>
                            <li class="aMargin"><a href="/saves">Salvos</a></li>
                            <li class="aMargin"><a href="/inserirjogo">Inserir Jogo</a></li>
                            <li class="aMargin"><a href="/users">Usuários</a></li>
                        </ul>
                    </div>
                </nav>
                <div id="temargb">
                    <p id="tema">BK RGB</p>
                    <input id="togglergb" class="toggle" type="checkbox">
                    <label for="togglergb"></label>
                </div>
                <div id="temargb">
                    <p id="tema">Tema Red</p>
                    <input class="toggle" type="checkbox" onchange="toggleTheme()" id="togglered">
                    <label for="togglered"></label>
                </div>
            </div>
            <!--menus terminam aqui-->
        </div>
        <!--Final Div header-->
        <div id="conteudogeral">
            <div id="conteudoesquerda">
                <div id="menuesquerda">
                    <div class="menulateral" id="menuhome">
                        <img src="/img/home.svg" alt="Home">
                        <a href="/">
                            <h2>Home</h2>
                        </a>
                    </div>
                    <div class="menulateral" id="menubiblioteca">
                        <img src="/img/library.svg" alt="library">
                        <a href="/biblioteca">
                            <h2><s>Bilioteca</s></h2>
                        </a>
                    </div>
                    <div class="menulateral" id="menusalvos">
                        <img src="/img/save.svg" alt="saves">
                        <a href="/saves">
                            <h2><s>Salvos</s></h2>
                        </a>
                    </div>
                    <div class="menulateral" id="menuinserir">
                        <img src="/img/add.svg" alt="add">
                        <a href="/inserirjogo">
                            <h2>Inserir</h2>
                        </a>
                    </div>
                    <div class="menulateral" id="menuusuarios">
                        <img src="/img/users.svg" alt="users">
                        <a href="/users">
                            <h2><s>Usuários</s></h2>
                        </a>
                    </div>

                    <div class="menulateral" id="menulogin">
                        <img src="/img/users.svg" alt="users">
                        <a href="/login">
                            <h2>Login-Testing</h2>
                        </a>
                    </div>
                    <div class="menulateral" id="menuadm">
                        <img src="/img/users.svg" alt="users">
                        <a href="/administrador">
                            <h2>Adm-Testing</h2>
                        </a>
                    </div>

                </div>
                <div id="pesquisa">
                    <input type="search" name="pesquisa" id="search">
                    <button type="submit" id="searching" onclick="myFunction(SubmitEvent)">
                        <img src="/img/search.svg" alt="search">
                    </button>
                </div>
                <div id="categorias">
                    <div id="categoraistt">
                        <h2>CATEGORIAS</h2>
                    </div>
                    <div class="categorias">
                        <h3>Multiplayer</h3>
                    </div>
                    <div class="categorias">
                        <h3>Singleplayer</h3>
                    </div>
                    <div class="categorias">
                        <h3>Cooperativo</h3>
                    </div>
                    <div class="categorias">
                        <h3>MMORPG</h3>
                    </div>
                </div>
            </div>
            <div class="conteudodireita">
                <!--Div abaixo da Div header-->
                <div id="DivAbaixoHeader"></div>
                <!-- Div SlideShow começa aqui -->
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <img src="/img/backgroundnoblur1500x500.png" style="width:100%">
                    </div>
                    <div class="mySlides fade">
                        <img src="/img/background1500x500.gif" style="width:100%">
                    </div>
                </div>
                <br>
                <div style="text-align:center">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <!-- Div SlideShow termina aqui -->
                <!-- Começo da Div dos conteudos -->
                <div id="DivConteudo">
                    <!-- Titulo do Conteudo -->
                    <div id="ConteudoGame">
                        <h1>Games</h1>
                    </div>
                    <!-- Começo da Div pai dos conteudos -->
                    <div id="PaiDosConteudos">
                        <!-- Começo do Fi 1 do Conteudo Linkado -->
                        <div class="FiConteudo" th:each="stores : ${store}">
                            <a id="imgfi" th:href="${stores.linkGame}" target="_blank">
                                <img th:src="@{/paginas/mostrarImagem/{imagem}(imagem=${stores.nomeImagem})}">
                                <div class="BackFi">
                                    <!-- Titulo E SubTitulo -->
                                    <section class="BackFiI">
                                        <div class="DivGamesLayouth3">
                                            <h3><span th:text="${stores.titulo}"></span>
                                                <h4><span th:text="${stores.subTitulo}"></span></h4>
                                            </h3>
                                        </div>
                                        <!-- PROMOÇÂO ESPECIAL -->
                                        <h5 class="DivGamesLayouth2"><span th:text="${stores.promocao}"></h5>
                                        <!-- Termino de promoção -->
                                        <div class="DivGamesLayoutPromo"><span th:text="${stores.data}"></span></div>
                                        <!-- Preços e Descontos -->
                                        <div class="DivGamesLayoutPrices">
                                            <!-- Desconto -->
                                            <div class="Disconto">R$ <span th:text="${stores.preco}"></span></div>
                                            <!-- Preço anterior e atual -->
                                            <div class="DiscontoPreco">
                                                <!-- Preço anterior -->
                                                <div class="PrecoOriginal">R$ <span
                                                        th:text="${stores.precoAnterior}"></span>
                                                </div>
                                                <!-- Preço atual -->
                                                <div class="PrecoDisconto">- <span th:text="${stores.desconto}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </a>

                        </div>
                        <!-- Fim do Fi 1 do Conteudo Linkado -->
                    </div>
                    <!-- Fim da Div pai dos conteudos -->
                </div>
                <!-- Fim da Começo da Div dos conteudos -->
            </div>
        </div>
        <!-- Começo Footer -->
        <footer>
            <div>
                <p><b>DiscountsFarm&copy;</b><sup>2023</sup></p>
                <p>Todos os Direitos reservados</p>
            </div>
            <div>
                <p>Desenvolvido por <b><a href="https://github.com/willyg0mes" target="_blank">Willy G<a></b></p>
            </div>
        </footer>
        <!-- Fim Footer -->
        <script src="/js/js.js"></script>
    </div>
    <!-- Fim da Div Pai da Pagina Inteira -->
</body>

</html>