<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/geral.css">
    <link rel="stylesheet" href="../style/senha.css">
    <title>Redefinir Senha</title>
    <link rel="website icon" type="png" href="/img/discount2.svg">

</head>
<body class="card">
    <!-- Começo da Div Pai da Pagina Inteira -->
    <div id="pagina">
        <!--Começo Div header-->
        <div id="header">
            <!--DivLogo começa aqui-->
            <div id="DivLogo">
                <div id="DivLogoUm">
                    <img src="/img/discount2.svg" alt="Logo" id="DiscountLogo">
                    <div id="DivLogoDois">
                        <h1><a href="/">DiscountsFarm</a></h1>
                    </div>
                </div>
                
            </div>
            <!--DivLogo termina aqui-->
            <!--menus começam aqui-->
            <div id="menunav">
                <nav id="nav">
                    <button id="btnMenu">
                        <span id="hamburguer"></span>
                      </button>
                    <div id="UlMenu">
                        <ul id="menu">
                            <li class="aMargin"><a href="/">Home</a></li>
                            <li class="aMargin"><a href="/login">Login</a></li>
                            <li class="aMargin"><a href="/inserirjogo">Inserir Jogo</a></li>
                        </ul>
                    </div>
                </nav>
                <div id="temargb">
                    <p id="tema">Fru Fru</p>
                    <input id="toggle" class="toggle" type="checkbox">
                    <label for="toggle"></label>
                </div>
            </div>
            <!--menus terminam aqui-->
        </div>
        <!--Final Div header-->
        <!--Div abaixo do header-->
        <div id="DivAbaixoHeader"></div>
        <div id="DivConteudo">
            <header>
                <h1>Esqueci a Senha</h1>
            </header>
            <div id="principal">
                <!-- formulario -->
                <div id="formularioum">
                    <div id="formularioummeio">
                        <form id="formulariodois" action="">
                            <div id="UserAndPassword">
                            <!-- User -->
                                <label for="user">Email utilizado</label>
                                    <input type="text" class="Textlogin" required><br>
                                <!-- Password
                                <label for="password">Senha</label>
                                    <input type="password" name="Password" class="Textlogin" size="8" required><br> -->
                            </div>
                            <!-- Esqueci a Senha -->
                            <!-- <a href="../page/senha.html">Esqueci a Senha</a> -->
                            <!-- checkbox -->
                            <!-- <div id="checkboxdiv">
                                <label id="SalvarDados">Lembrar dados de Usuário</label>
                                <input type="checkbox" name="checkbox" id="checkbox" required><br>
                            </div> -->
                            <!-- cadastrar -->
                            <button type="submit" id="buttonEntrar"><a href="redefinir.html">Enviar Solicitação</a></button>
                        </form>
                    </div>
                </div>
                <div id="banner">
                    <!-- <img src="../img/SteamCadastro1.jpg" alt=""> -->
                </div>
            </div>    
        </div>
        <!-- Começo Footer -->
        <footer>
            <p><b>DiscountsFarm&copy;</b><sup>2023</sup></p>
            <p>Todos os Direitos reservados</p>
        </footer>
        <!-- Fim Footer -->
    </div>
    
</body>
</html>